<div class="container-sm">
<div class="container">
    <div class="row">
    <div class="col">
        Column
    </div>
    <div class="col">
        Column
    </div>
    <div class="col">
        Column
    </div>
    </div>
</div>
</div>
<div class="container-md">100% wide until medium breakpoint</div>
<div class="container-lg">100% wide until large breakpoint</div>
<div class="container-xl">100% wide until extra large breakpoint</div>
<div class="container-xxl">100% wide until extra extra large breakpoint</div>

<table class="table">
  <thead>
    ...
  </thead>
  <tbody>
    <tr class="table-active">
      ...
    </tr>
    <tr>
      ...
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2" class="table-active">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
    <th scope="row">3</th>
    <td colspan="2" class="table-active">Larry the Bird</td>
    <td>@twitter</td>
  </tr>
  <tr>
  <th scope="row">3</th>
  <td colspan="2" class="table-active">Larry the Bird</td>
  <td>@twitter</td>
</tr>
<tr>
<th scope="row">3</th>
<td colspan="2" class="table-active">Larry the Bird</td>
<td>@twitter</td>
</tr>
<tr>
<th scope="row">3</th>
<td colspan="2" class="table-active">Larry the Bird</td>
<td>@twitter</td>
</tr>
<tr>
<th scope="row">3</th>
<td colspan="2" class="table-active">Larry the Bird</td>
<td>@twitter</td>
</tr>
  </tbody>
</table>